.treeContainer {
  display: flex;
  top: 0em;
  left: 0em;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tree-runner{
  width:25em;
  position:fixed;
  z-index: -1;
  top:0;
  min-height: 100%;
}
.demoContainer {
  
  display: flex;
  top: 0em;
  padding-left: 10em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.specialIcon {
  width: 4em;
  color: white;
  padding: 1em;
}
.linkItem {
  border-style: solid;
  display: flex;
  border-radius:2em;
  align-items: center;
  justify-content: center;
  width:60vw;
  min-width: 40em;
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  margin: 2em;
  transition: ease-in-out 400ms;
}
.linkItem a {
  
  text-decoration: none;
  font-size: 3em;
}
.linkItem:hover{
  transition: ease-in-out 400ms;

  background-color: #797367;
}
.header {
  top:0;
  padding-top:0.4em;
 
  width:100vw;
  position: fixed;
  text-align: center;
  font-size: 6em;
  color: white;
}
.updateContainer {

    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(6, 1fr); */
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
  background-color: #E7E5DF;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:40em;
  min-width: 40em;
  max-height: 100%;
}
.updateContainer >div{
  margin-left: auto;
  margin-right: auto;
}
.color-picker{
  display: flex;
  flex-direction: column;
  left: 1em;
  top:4em;
  position:absolute
}
.updateContainer input {
  margin: 0.4em;
  padding: 0.6em;
  border-radius: 0.4em;
  width: 10em;
}
.updateDemoContainer {
  height: 100%;
grid-template-rows:auto;
grid-column-gap: 0px;
grid-row-gap: 0px;
  gap: 10em;
  display: grid ;
  flex-direction: row;
}
.linkBox {
  border-radius: 1em;
  padding: 0.5em;
  padding-right: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  background-color: #D3D0CB;
  min-height: 5em;
  max-height: 5em;
  min-width: 11em;
}
.linkBox input {
  border-width: 0;
  background-color: rgb(250, 253, 255);
}
.linkBox button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
top:-1.5em;
padding: 0em;
right:-1.3em;
min-width:2em;
min-height:2em;
max-height: 2em;
  border-radius: 100%;
  background-color: #E7BB41;
  font-size: larger;
  color: white;
  transition: 0.5s;
}
 .linkBox:hover button {
  cursor: pointer;
  transition: 0.5s;
  background-color: rgb(255, 86, 86);
  border-radius: 100%;
  justify-content: center;
  align-items: center;

}

.gridContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
flex-direction: column;
  width: 10em;

  
}
.gridContainer button{
  position: relative;
}

.vStack{
  display: flex;
  flex-direction: column;
}

.pfpContainer{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  contain:content;
  width:10em;
  height:10em;
  background-color:white;
   border-radius:100%;
color: black;
}
.pfp{
  margin-top: 10em;
   background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  width:10em;
  height:10em;
}

.updateButton {
  top:-4em;
  display:flex;
  padding:0.2em;
  background-color:#3adfbe;
  border-width:0;
  color:white;
  border-radius:0.4em;
  justify-content:center;
  align-items:center;
  transition: ease-in-out 500ms;
  width:10em;
}
.updateButton:hover{
  cursor:pointer;
  text-decoration:double black ;
  transition: ease-in-out 500ms;
  color:white;
  background-color:#59C5AF;

}
.updateButton:disabled{
  transition: 300ms;
  background-color:#235047;
  color:rgb(207, 207, 207);
  cursor: wait;
}
.add-link-button{
  cursor:pointer;
  border-width: 0;
  background-color: white;
  border-radius: 5px;
  top:-5em;
width:10em;

}
.header-input-container{
  display: flex;
  flex-direction: column;
}
.login-portal-container{
  position: fixed;
  background-color: #797367;
  display: flex;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  align-items: center;
  justify-content: center;
  
}
.login-box{
  position: absolute;
  top:1em;
  justify-content: center;
  border-radius: 5em;
  background-color:#E7E5DF ;
  display: flex;
  gap:1em;
  padding-top: 3em;
  padding-bottom: 1em;
  padding-right: 6em;
  padding-left: 6em;
  height:10em;
  flex-direction: column;
}
.login-box input{
  border-radius: 4px;
border-width: 0;
width: 10em;
font-size: 2em;
}
.login-box button{
  transition: 300ms;
  cursor:pointer;
  background-color: white;
  border-width: 0;
  border-radius: 4px;
}
.login-box button:disabled{
  transition: 300ms;
  cursor:wait;
  background-color: rgb(165, 164, 164);
}
.navbar{
  position: absolute;
  display: flex;
  /* flex-direction: column; */
  gap:1em;
  color:white;

}
.navbar a{
  color:white;
  cursor:pointer;
}















/* Start of Gridlayout css */

.react-grid-layout {
  right:8em;
  background-color: red;
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top, width, height;
}
.react-grid-item img {
  pointer-events: none;
  user-select: none;
}
.react-grid-item.cssTransforms {
  left:10em;

  transition-property: transform, width, height;
}
.react-grid-item.resizing {
  transition: none;
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  left:10em;

  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item.react-grid-placeholder.placeholder-resizing {
  transition: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.react-resizable-hide > .react-resizable-handle {
  display: none;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-w,
.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-n,
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}
.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
  background-position: bottom right;
  padding: 0 3px 3px 0;
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}
